[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
coverage = "*"
autopep8 = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2 = "*"
djangorestframework = "*"
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.8"
